<h1 class="title">Поиск стран</h1>
<section class="search-section">
    <div class="search-form">
        <span class="search-text">Введите страну</span>
        <label class="search-place">
            <input type="text" class="search-input" id="js-input" placeholder="название страны" autocomplete="off">
        </label>
    </div>
    <div class="search-result"></div>
</section>